{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
    <div class="container">
        <form method="post" action="{% url 'account_signup' %}" tags="entrance,signup">
            {% csrf_token %}
                {{form | crispy }}
                <button type="submit" class="btn btn-primary w-100 py-3 bg-accent" style="border-color: #61b124; background-color: #61b124; margin: 20px 0 20px 0;" tags="prominent,signup">Sign Up</button>
    
        </form>
    </div>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
