{% extends 'html/base_view.html' %}
{% load static %}

{% block header %}
  <style>
    @font-face {
      font-family: "CustomFont";
      src: url("{% static 'font/Boge.ttf' %}") format('truetype');
      }
      *{
        margin: 0;
        padding: 0;
        color: white;
      }
    body{
      background-color:#1c1e25;
      margin: 0;
      padding: 0;
    }
    a{

    }
    #CPS{
      
      font-family: "CustomFont";


    }
    #CPS a{
      text-decoration: none;
      color: #61b124;
    }
    .container{
      margin-bottom: 50px;
    }
    .card{
      background-color: #313339;
    }
    @media only screen and (max-width: 400px) {
      body{
        font-size: 16px;
      }
      .imagebox, .imagebox img{
        width: 100px;
        height: 100px;
      }
      .container{
        gap: 30px;
      }
     
}
  </style>
  {% endblock %}
  


{% block content %}

<div>
  <div class="container" style="display: flex; justify-content: space-evenly;">
      
      <div class="card" style="width: 18rem; background-color: #313339;" >
          <div class="imagebox" style="width: 300px; height: 200px; padding-right: 15px;" >
            <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'images/c1.jpg' %}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Request Delivery</h5> -->
            <p class="card-text"> Have a parcel to deliver? Click below to request a delivery to your place ASAP!</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'deliveryRequest' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">Request delivery</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">Request delivery</a>
            {% endif %}
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div class="imagebox"  style="width: 300px; height: 200px; padding-right: 15px;">
            <img src="{% static 'images/c2.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
          </div>
          <div class="card-body">
            <p class="card-text">Have you already placed a delivery with us? Click below to follow up on them.</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'activeRequest' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Active Deliveries</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">View Active Deliveries</a>
          {% endif %}
          </div>
        </div>
  </div>
  <div class="container" style="display: flex; justify-content: space-evenly;">
      
    <div class="card" style="width: 18rem;">
      <div class="imagebox" style="width: 300px; height: 200px; padding-right: 15px;">
        <img src="{% static 'images/c3.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Want to go over your past delivery History with us? Click Below.</p>
       {% if request.user.is_authenticated %}
       <a href="{% url 'pastRequest' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Past Deliveries</a>
       {% else %}
       <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">View Past Deliveries</a>
       {% endif %}
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="imagebox" style="width: 300px; height: 200px; padding-right: 15px;">
        <img src="{% static 'images/c4.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Get our Price Quotes for your reqeusted deliviers here. Click Below</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'pendingRequest' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Pending Delivery Requests</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Pending Delivery Requests</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container" style="display: flex; justify-content: space-evenly;">
      
    <div class="card" style="width: 18rem;">
      <div class="imagebox" style="width: 300px; height: 200px; padding-right: 15px;">
        <img src="{% static 'images/c3.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Have items you want to put in storage? Click Below.</p>
       {% if request.user.is_authenticated %}
       <a href="{% url 'StoragePage' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
       {% else %}
       <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
       {% endif %}
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="imagebox" style="width: 300px; height: 200px; padding-right: 15px;">
        <img src="{% static 'images/c4.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Click Below to explore our online shop.</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'StoragePage' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
        {% endif %}
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
