{% extends 'html/base_view.html' %}
{% load delivery_extras %}
{% load static %}

{% block header %}
    <style>
        @font-face {
  font-family: "CustomFont";
  src: url("{% static 'font/Boge.ttf' %}") format('truetype');
  }
  body{
      background-color: #1c1e25;
      color: white;
  }
  #CPS{
      font-family: 'CustomFont';
      color: #61b124;
  }
  #CPS a{
    text-decoration: none;
    color: #61b124;

  }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table" >
            <thead class="table-light" style="text-align: center;">
                <th>Delivery Id</th>
                <th>Delivery Pickup</th>
                <th>Delivery Dropoff</th>
                <th>Dropoff contact</th>
                <th>Status</th>
                <th></th>
              
            </thead>
            <tbody class="table-dark" style="text-align: center;">
                {% for data in DeliveryRequests %}

                <tr>
                    <td>{{data.user.phone}}</td>
                    <td>{{data.unique_id|stringformat:'s'|split:5}}...</td>
                    <td>{{data.pickupPoint}}</td>
                    <td>{{data.deliveryPoint}}</td>
                    <td>{{data.dropoffNumber}}</td>
                    <td>
                        {% if data.enroute == False %}
                            not picked up
                        {% else %}
                            picked up
                        {% endif %}
                    </td>
                    <td><a href="{% url 'detailsPage' data.unique_id %}">details</a></td>

                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <h1>Pending</h1>
{% endblock %}

