{% extends 'html/base_view.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
    <style>
.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}
.holder{
    display: flex;
    justify-content: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
}

.product-card {

  flex-grow: 1;
  flex-basis: 16%;

  display: flex;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;



  display: flex; /* so child elements can use flexbox stuff too! */
  flex: 1 16%;
}

.product-image{
    width: 100%;
    border: 1px solid green;

}
.product-image img {
  max-width: 100%;
  object-fit: cover;
}
.product-info {
  margin-top: auto;
  border: 1px solid grey;
}
@media (min-width: 601px){
    .product-card {
    flex: 1 21%;
  }    
}


@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
    </style>
{% endblock %}

{% block content %}

<nav class="product-filter">

    <h1>Jackets</h1>
  
    <div class="sort">
  
      <div class="collection-sort">
        <label>Filter by:</label>
        <select>
          <option value="/">All Jackets</option>
        </select>
      </div>
  
      <div class="collection-sort">
        <label>Sort by:</label>
        <select>
          <option value="/">Featured</option>
        </select>
      </div>
  
    </div>
  
  </nav>
<div class="holder">
<section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->
  
    <div class="product-card">
      <div class="product-image">
        <img src="p.jpg">
      </div>
      <div class="product-info">
        <h5>Winter Jacket</h5>
        <h6>$99.99</h6>
      </div>
    </div>
    <div class="product-card">
        <div class="product-image">
          <img src="p.jpg">
        </div>
        <div class="product-info">
          <h5>Winter Jacket</h5>
          <h6>$99.99</h6>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="p.jpg">
        </div>
        <div class="product-info">
          <h5>Winter Jacket</h5>
          <h6>$99.99</h6>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="p.jpg">
        </div>
        <div class="product-info">
          <h5>Winter Jacket</h5>
          <h6>$99.99</h6>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="p.jpg">
        </div>
        <div class="product-info">
          <h5>Winter Jacket</h5>
          <h6>$99.99</h6>
        </div>
      </div>
    <!-- more products -->
  
  </section>
</div>
{% endblock %}