{% extends 'html/base_view.html' %}
{% load static %}
{% block header %}
<style>
    @font-face {
font-family: "CustomFont";
src: url("{% static 'font/Boge.ttf' %}") format('truetype');
}
body{
  background-color: #1c1e25;
  color: white;
}
#CPS{
  font-family: 'CustomFont';
  color: #61b124;

}
#mainBox{
    margin-bottom: -55px;
}
#CPS a{
text-decoration: none;
color: #61b124;

}

</style>
{% endblock %}


{% block content %}

<div class="container d-flex align-items-center justify-content-center min-vh-100 " style="text-align: center; ">
    <h1>Coming Soon</h1>
</div>

{% endblock %}