{% extends 'html/base_view.html' %}
{% load static %}

{% block header %}
  <style>
    @font-face {
      font-family: "CustomFont";
      src: url("{% static 'font/Boge.ttf' %}") format('truetype');
      }
      *{
        margin: 0;
        padding: 0;
        color: white;
      }
    body{
      background-color:#1c1e25;
      margin: 0;
      padding: 0;
    }
    a{

    }
    #CPS{
      
      font-family: "CustomFont";


    }
    #CPS a{
      text-decoration: none;
      color: #61b124;
    }
    .container{
      margin-bottom: 50px;
    }
    .card{
      background-color: #313339;
      width: 18.3rem;

    }
 
    .imagebox{
      width: 300px; 
      height: 200px; 
      display: flex;
      justify-content: center;
      
    }
    .imagebox img{
      width: 80%; 
      height: 100%; 
      object-fit: cover;
    
    }
    .col{
      margin: 20px;
    }
 
    @media only screen and (max-width: 767px)  {
      body{
        font-size: 16px;
      }
      .imagebox{
      width: 100%; 
      height: 100%; 
      display: flex;
      justify-content: center;
    }
    .imagebox img{
      width: 80%; 
      height: 100%; 
      object-fit: cover;
      
    }
 
      .container{
        gap: 30px;
      }
      .main-containers{
        flex-direction: column;
      }
     
}
  </style>
  {% endblock %}
  


{% block content %}


<div class="d-flex justify-content-center align-items-center" style="">
  <div  style=" display: flex; justify-content: center; flex-direction: column;">
  <div style="display: flex; justify-content: space space-evenly;" class="main-containers">
        <div class="col" >
          <div class="card">
            <div class="imagebox">
              <img src="{% static 'images/c2.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Request Delivery</h5> -->
              <p class="card-text"> Have a parcel to deliver? Click below to request a delivery to your place ASAP!
              </p>
              {% if request.user.is_authenticated %}
              <a href="{% url 'deliveryRequest' %}" class="btn btn-primary"
                style="background-color: #61b124; color: white; border: none;">Request delivery</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="btn btn-primary inactive"
                style="background-color: #61b124; color: white; border: none;">Request delivery</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="imagebox">
              <img src="{% static 'images/c2.jpg' %}" alt="">
            </div>
            <div class="card-body">
              <p class="card-text">Click below to check out our Pharmacy for quick health remedies.</p>
              {% if request.user.is_authenticated %}
              <a href="{% url 'OnlinePharmacy' %}" class="btn btn-primary"
                style="background-color: #61b124; color: white; border: none;"> Pharmacy</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="btn btn-primary inactive"
                style="background-color: #61b124; color: white; border: none;"> Pharmacy</a>
              {% endif %}
            </div>
          </div>
        </div>
  </div>
<div style="display: flex; justify-content: space-evenly;" class="main-containers">
      <div class="col">
        <div class="card">
          <div class="imagebox">
            <img src="{% static 'images/c3.jpg' %}" alt="">
          </div>
          <div class="card-body">
            <p class="card-text">Have items you want to put in storage? Click Below.</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'StoragePage' %}" class="btn btn-primary"
              style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-primary inactive"
              style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="imagebox">
            <img src="{% static 'images/c4.jpg' %}" alt="">
          </div>
          <div class="card-body">
            <p class="card-text">Click Below to explore our online shop.</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'ShopPage' %}" class="btn btn-primary"
              style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-primary"
              style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
            {% endif %}
          </div>
        </div>
      </div>
</div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  cards= document.getElementsByClassName('card')

 // Array.from(cards).forEach(card => { //convert html collection to array to iterate
   // card.onmouseenter = function(){
     // text  = card.querySelector(".card-text")
      //text.style.display ="block"
    //}    
    //card.onmouseleave = function(){
      //  text = card.querySelector(".card-text")
       /* text.style.display = "none"
      }    
    });*/
</script>
  {% endblock %}
