{% extends 'html/base_view.html' %}
{% load static %}

{% block header %}
  <style>
    @font-face {
      font-family: "CustomFont";
      src: url("{% static 'font/Boge.ttf' %}") format('truetype');
      }
      *{
        margin: 0;
        padding: 0;
        color: white;
      }
    body{
      background-color:#1c1e25;
      margin: 0;
      padding: 0;
    }
    a{

    }
    #CPS{
      
      font-family: "CustomFont";


    }
    #CPS a{
      text-decoration: none;
      color: #61b124;
    }
    .container{
      margin-bottom: 50px;
    }
    .card{
      background-color: #313339;
      width: 18.3rem;
      padding-top: 1rem;
    }
    .imagebox{
      width: 300px; 
      height: 200px; 
      display: flex;
      justify-content: center;
      
    }
    .imagebox img{
      width: 80%; 
      height: 100%; 
      object-fit: cover;
    
    }
 
    @media only screen and (max-width: 767px)  {
      body{
        font-size: 16px;
      }
      .imagebox{
      width: 200px; 
      height: 200px; 
      display: flex;
      justify-content: center;
    }
    .imagebox img{
      width: 80%; 
      height: 100%; 
      object-fit: cover;
      
    }
 
      .container{
        gap: 30px;
      }
     
}
  </style>
  {% endblock %}
  


{% block content %}

<div>
  <div class="container" style="display: flex; justify-content: space-evenly;">
      
      <div class="card" >
          <div class="imagebox" >
            <img  src="{% static 'images/c1.jpg' %}" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Request Delivery</h5> -->
            <p class="card-text"> Have a parcel to deliver? Click below to request a delivery to your place ASAP!</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'deliveryRequest' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">Request delivery</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">Request delivery</a>
            {% endif %}
          </div>
        </div>

        <div class="card" >
          <div class="imagebox"  >
            <img src="{% static 'images/c2.jpg' %}"  alt="">
          </div>
          <div class="card-body">
            <p class="card-text">Click below to check out our  Pharmacy for quick health remedies.</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'OnlinePharmacy' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;"> Pharmacy</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;"> Pharmacy</a>
          {% endif %}
          </div>
        </div>
  </div>

  <div class="container" style="display: flex; justify-content: space-evenly;">
      
    <div class="card" >
      <div class="imagebox" >
        <img src="{% static 'images/c3.jpg' %}"  alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Have items you want to put in storage? Click Below.</p>
       {% if request.user.is_authenticated %}
       <a href="{% url 'StoragePage' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
       {% else %}
       <a href="{% url 'account_signup' %}" class="btn btn-primary inactive" style="background-color: #61b124; color: white; border: none;">View Storage Center</a>
       {% endif %}
      </div>
    </div>
    <div class="card" >
      <div class="imagebox" >
        <img src="{% static 'images/c4.jpg' %}"  alt="">
      </div>
      <div class="card-body">
        <p class="card-text">Click Below to explore our online shop.</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'ShopPage' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary" style="background-color: #61b124; color: white; border: none;">View Online Shop</a>
        {% endif %}
      </div>
    </div>
  </div>
   -->
</div>
{% endblock %}
