{% extends "html/base_view.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}    
<style>
    @font-face {
    font-family: "CustomFont";
    src: url("{% static 'font/Boge.ttf' %}") format('truetype');
    }
    body{
    background-color: #1c1e25;
    color: white;
    }
    #CPS{
    font-family: 'CustomFont';
    color: #61b124;
    }
    #CPS a{
    text-decoration: none;
    color: #61b124;

    }
    #mainBox{
        margin-bottom: -58px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center min-vh-100 ">
   

    <form method="POST" action="{% url 'account_logout' %}" style="display: flex; flex-direction: column; justify-content: center;">
        {% csrf_token %}
        {{form | crispy }}

        <p>Are you Sure You want to logout?</p>
    <button type="submit" style="color: white; background-color: #61b124; border: 1px solid #61b124; padding: 5px; border-radius: 0.25rem;">Logout</button>

    </form>
</div>
{% endblock content %}
<div style="text-align: center; ">
    <h1>Coming Soon</h1>
</div>