{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <form method="post" action=login_url tags="entrance,signup">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" tags="prominent,signup" style=" margin: 10px 0 25px 0; float:right; width:100% ; border: 2px solid #61b121; border-radius: 0.25rem; padding: 5px; background-color: #61b121;">Sign Up</button>
        </form>
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
</div>
{% endblock content %}
