{% extends 'html/base_view_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<style>
    @font-face {
      font-family: "CustomFont";
      src: url("{% static 'font/Boge.ttf' %}") format('truetype');
      }
      *{
        margin: 0;
        padding: 0;
        color: white;
      }
    body{
      background-color:#1c1e25;
      margin: 0;
      padding: 0;
    }
    a{

    }
    #CPS{
      
      font-family: "CustomFont";


    }
    #CPS a{
      text-decoration: none;
      color: #61b124;
    }
    form{
        color: #1c1e25;
    }
    label{
        color: black;
        margin-top: 10px;
    }
    input[type=submit]{
        margin: 10px;
        background-color: #61b124;
        border:1px solid #61b124;
        padding: 10px;
        border-radius: 0.25rem;
        float: right;
    }
    .container-fluid{
        padding-bottom: 90px;
        margin-bottom: 20px;
    }
    input{
      color: black;
    }
    textarea{
      color:black;
    }
</style>
{% endblock %}
{% block content %}
<div class="container container-fluid">
    <h1>Add Shop Item</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ShopItemFormCreator|crispy}}
    <input type="submit" name="addShopItem" id="" value="Add Shop Item">
</form>
</div>

<div class="container container-fluid">
  <h2>Manage Items in Shop</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Date Added</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in ShopItems %}
      <tr>
        <th scope="row">1</th>
        <td><img src="{{item.image.url}}" style="width: 40px; height: 40px;" alt=""></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.date}}</td>
        <td>Update</td>
        <td>Delete</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
