{% extends 'html/base_view_admin.html' %}
{% load static %}
{% load adminConsole_extras %}
{% block header %}
<style>
    @font-face {
font-family: "CustomFont";
src: url("{% static 'font/Boge.ttf' %}") format('truetype');
}
body{
  background-color: #1c1e25;
  color: white;
}
#CPS{
  font-family: 'CustomFont';
  color: #61b124;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <table class="table" >
        <thead class="table-light" style="text-align: center;">
            <th>Delivery Id</th>
            <th>Delivery Pickup</th>
            <th>Delivery Dropoff</th>
            <th>Pickup contact</th>
            <th>Assigned</th>
            <th>Picked Up</th>
            <th>enroute</th>
            <th>delivered</th>
            <th></th>
            <th></th>
          
        </thead>
        <tbody class="table-dark" style="text-align: center;">
            {% for data in DeliveryRequests %}
            <tr>
                <td>{{data.unique_id|stringformat:'s'|split:5}}...</td>
                <td>{{data.pickupPoint}}</td>
                <td>{{data.deliveryPoint}}</td>
                <td>{{data.pickupNumber}}</td>
                <td>
                    {% if data.assigned == False %}
                        <input type="checkbox" name="assigned" disabled>
                    {% else %}
                        <input type="checkbox" name="assigned" checked>
                    {% endif %}
                </td>
                <td>
                    {% if data.pickedUp == False %}
                    <input type="checkbox" name="assigned" disabled>
                {% else %}
                    <input type="checkbox" name="assigned" checked>
                {% endif %}
                </td>
                <td>
                    {% if data.enroute == False %}
                    <input type="checkbox" name="assigned" disabled>
                {% else %}
                    <input type="checkbox" name="assigned" checked>
                {% endif %}
                </td>
                <td>
                    {% if data.delivered == False %}
                    <input type="checkbox" name="assigned" disabled>
                {% else %}
                    <input type="checkbox" name="assigned" checked>
                {% endif %}
                </td>
                <td><button style="background-color:#61b124; padding: 3px; border: 1px solid #61b124;
                border-radius: 0.5rem; color: white;">Update</button></td>
                <td><a href="{% url 'managementUpdate' data.unique_id %}">details</a></td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}