{% load static %}
{% load adminConsole_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
    <style>
        @font-face {
  font-family: "CustomFont";
  src: url("{% static 'font/Boge.ttf' %}") format('truetype');
  }
  #CPS{
      font-family: 'CustomFont';
      color: #61b124;
  }
           /* The switch - the container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

/* Slider before element */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* When the checkbox is checked, change background color */
input:checked + .slider {
  background-color: #2196F3;
}

/* Move the slider to the right when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mb{
    display: none;
}
.activeBox{
    display: flex;
}
</style>
</head>

<body>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">CPS</a>
                    <div style="display: flex; align-items: center; gap: 8px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#61b124" viewBox="0 0 24 24"
                            stroke="#61b124">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z">
                                </path>
                            </g>
                        </svg><span style="color:white;">{{request.user}}</span>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                            aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{request.user}}</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'settingsPage' %}">Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <div class="container" style="display: flex; justify-content: center;">
            <div style="display: flex; justify-content: center; padding: 10px;">
                <span style="padding-right: 5px;">Single Requests <span style="color: red;">{{DeliveryRequests.count}}</span></span>
                <label class="switch">
                    <input type="checkbox" id="sliderCheckbox">
                    <span class="slider round"></span>
                </label>
                <span style="padding-left: 5px;">Bulk Requests <span style="color: red;">{{BulkDeliveryRequests.count}}</span></span>
            </div>
        </div>
    <div class="table-responsive container" style="margin-top: 30px;" id="single">
        <table class="table" >
            <thead class="table-light" style="text-align: center;">
                <th>Delivery Id</th>
                <th>Pickup Point</th>
                <th>Pickup Location</th>
                <th>Sender's Number</th>
                <th>Dropoff Point</th>
                <th>Dropoff Location</th>
                <th>Receiver's Number</th>
                <th>Assigned</th>
                <th>Assign Rider</th>
                <th></th>
                <th>Picked Up</th>
                <th>delivered</th>
                <th></th>
                <th></th>
              
              
            </thead>
            <tbody class="table" style="text-align: center;">
                {% for data in DeliveryRequests %}
                <form action="" method="POST">
                <tr>
                    <!-- <td>{{data.unique_id|stringformat:'s'|split:5}}...</td> -->
                     <td>{{data.id_curator}}</td>
                    <td>{{data.pickupPoint}}</td>
                    <td>{{data.pickupLocation}}</td>
                    <td>{{data.pickupNumber}}</td>
                    <td>{{data.deliveryPoint}}</td>
                    <td>{{data.dropoffLocation}}</td>
                    <td>0{{data.dropoffNumber}}</td>
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value={{data.unique_id}}>
                    <td>
                        {% if data.assigned == False %}
                            <input type="checkbox" name="assigned" disabled> off
                        {% else %}
                            <input type="checkbox" name="assigned" checked disabled style="background-color: blue;">on
                        {% endif %}
                    </td>
                    <td>
                        {% if data.rider %}
                        {{data.rider}}
                        {% else %}
                    
                        <select name="rider" id="">
                            {% for rider in riders %}
                            <option value="{{rider.unique_id}}">{{rider}}</option>
                            {% endfor %}
                        </select>
                    
                        {% endif %}
                    </td>
                    <td><input type="submit" style="background-color:#61b124; padding: 3px; border: 1px solid #61b124;
                                        border-radius: 0.5rem; color: white; " name="updateSingleOrder" value="submit"></td>
                    <td>
                        {% if data.pickedUp == False %}
                        <input type="checkbox" name="pickedUp" >off
                    {% else %}
                        <input type="checkbox" name="pickedUp" checked>on
                    {% endif %}
                    </td>
             
                    <td>
                        {% if data.delivered == False %}
                        <input type="checkbox" name="delivered" >off
                    {% else %}
                        <input type="checkbox" name="delivered" checked>on
                    {% endif %}
                    </td>
                    
                    <td><a href="{% url 'managementUpdate' data.unique_id %}">details</a></td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="table-responsive container" style="margin-top: 30px; display: none;" id="bulk" >
        <table class="table">
            <thead class="table-light" style="text-align: center;">
                <th>Delivery Id</th>
                <th>Order Count</th>
                <th>Pickup Point</th>
                <th>Pickup Location</th>
                <th>Sender's Number</th>
                <th>Assigned</th>
                <th>Assign Rider</th>
                <th></th>
                <th>Picked Up</th>
                <th>delivered</th>
                <th></th>
                <th></th>
            </thead>
        <tbody class="table" style="text-align: center;">
            {% for data in BulkDeliveryRequests %}
            <form action="" method="POST">
                <tr>
                    <!-- <td>{{data.unique_id|stringformat:'s'|split:5}}...</td> -->
                    <td>{{data.id_curator}}</td>
                    <td>{{data.orderQuantity}}</td>
                    <td>{{data.pickupPoint}}</td>
                    <td>{{data.pickupLocation}}</td>
                    <td>0{{data.pickupNumber}}</td>
                   
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value={{data.unique_id}}>
                    <td>
                        {% if data.assigned == False %}
                        <input type="checkbox" name="assigned" disabled> off
                        {% else %}
                        <input type="checkbox" name="assigned" checked disabled style="background-color: blue;">on
                        {% endif %}
                    </td>
                    <td>
                        {% if data.rider %}
                        {{data.rider}}
                        {% else %}
        
                        <select name="rider" id="">
                            {% for rider in riders %}
                            <option value="{{rider.unique_id}}">{{rider}}</option>
                            {% endfor %}
                        </select>
        
                        {% endif %}
                    </td>
                    <td><input type="submit" style="background-color:#61b124; padding: 3px; border: 1px solid #61b124;
                                                border-radius: 0.5rem; color: white; " name="updateBulkOrder" value="submit">
                    </td>
                    <td>
                        {% if data.pickedUp == False %}
                        <input type="checkbox" name="pickedUp">off
                        {% else %}
                        <input type="checkbox" name="pickedUp" checked>on
                        {% endif %}
                    </td>
        
                    <td>
                        {% if data.delivered == False %}
                        <input type="checkbox" name="delivered">off
                        {% else %}
                        <input type="checkbox" name="delivered" checked>on
                        {% endif %}
                    </td>
        
                    <td><a href="{% url 'managementUpdateBulk' data.unique_id %}">details</a></td>
            </form>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>
<script>
            window.onload = () => {
                    if (document.getElementById('sliderCheckbox').checked) {
                        document.getElementById('sliderCheckbox').click()
                        bulk.style.display = 'none'

                        single.style.display = 'block'

                    }
                }
                single = document.getElementById('single')
                bulk = document.getElementById('bulk')

                document.getElementById('sliderCheckbox').addEventListener('change', function () {
                    const status = document.getElementById('status');

                    if (this.checked) {
                        bulk.style.display = 'block'

                        single.style.display = 'none'

                    } else {
                        bulk.style.display = 'none'

                        single.style.display = 'block'

                    }
                });
            </script>
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<h1>Management</h1>
</html>