{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        @font-face {
          font-family: "CustomFont";
          src: url("{% static 'font/Boge.ttf' %}") format('truetype');
        }
      
      
        #CPS {
          font-family: 'CustomFont';
          color: #61b124;
        }
      
        #CPS a {
          text-decoration: none;
          color: #61b124;
        }
      
        table {
          text-align: center;
        }
      </style>
</head>
<body>
        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" id="CPS">CPS</a>
            <div style="display: flex; align-items: center; gap: 8px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#61b124" viewBox="0 0 24 24"
                stroke="#61b124">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z">
                  </path>
                </g>
              </svg><span style="color:white;">{{request.user}}</span>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{request.user}}</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'settingsPage' %}">Settings</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
  <div class="container"></div>
    <h1>RiderUpdate</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Assignment</th>
          <th scope="col"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{rider.name}}</td>
          <td>+233{{rider.phone}}</td>
          <td>3</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              style="background-color: #61b124; border-color: #61b124;">
              Delete
            </button>
          </td>
          <td>
         {% if rider.profile.rider %}
         Login assigned
         {% else %}
            <a href="{% url 'riderLoginAddition' rider.unique_id %}"><button type="button" class="btn btn-primary"
                style="background-color: #61b124; border-color: #61b124;">Add Login</button></a>
            </td>
          {% endif %}
        </tr>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="color: #1c1e25;">
                Are you sure you want to remove '{{rider.name}}' as a rider for CPS?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                  style="background-color: #61b124; border-color:#61b124; border-radius: 0.25rem;"><a
                    href="{% url 'riderDelete' rider.unique_id %}" style="color: white;">Delete</a></button>
              </div>
            </div>
          </div>
        </div>
  
      </tbody>
    </table>
  </div>
  <div class=" container container-fluid" style="margin-bottom: 20px; margin-top: 20px; padding-bottom: 60px;">
    <div>
      <h2>Update Rider details</h2>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      {{RiderFormUpdate| crispy}}
      <input type="submit" value="Update" name="updateRider"
        style="float: right; background-color: #61b124; margin-top: 10px; border: 1px solid #61b124; border-radius: 0.25rem; padding: 5px; color: white;">
    </form>
  </div>
  <div class="container container-fluid">
    <div>
      <h2>Assign Requests to Rider</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Pickup</th>
          <th scope="col">Dropoff</th>
          <th scope="col">PickupNumber</th>
          <th scope="col">Dropoff Number</th>
          <th>Assign</th>
        </tr>
      </thead>
      <tbody>
        {% for unassigned in DeliveryRequestsUnassigned %}
  
  
        <tr>
          <th scope="row">1</th>
          <td>{{unassigned.pickupPoint}}</td>
          <td>{{unassigned.deliveryPoint}}</td>
          <td>{{unassigned.pickupNumber}}</td>
          <td>{{unassigned.dropoffNumber}}</td>
          <td> <span>
              <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{unassigned.unique_id}}" name="unique_id">
                <input type="submit" value="Assign" name="assignRider"
                  style="background-color: #61b124; padding: 5px; color: white; border: 1px solid #61b124; border-radius: 0.25rem;">
              </form>
            </span></td>
        </tr>
  
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container container-fluid" style="margin-bottom: 20px; margin-top: 20px; padding-bottom: 60px;">
    <h2>Assigned Requests</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Pickup</th>
          <th scope="col">Dropoff</th>
          <th scope="col">PickupNumber</th>
          <th scope="col">Dropoff Number</th>
          <th scope="col">Unassign</th>
        </tr>
      </thead>
      <tbody>
        {% for assigned in DeliveryRequestsAssigned %}
  
  
        {% if assigned.delivered == False %}
        <tr>
          <th scope="row">1</th>
          <td>{{assigned.pickupPoint}}</td>
          <td>{{assigned.deliveryPoint}}</td>
          <td>{{assigned.pickupNumber}}</td>
          <td>{{assigned.dropoffNumber}}</td>
          <td> <span>
              <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{assigned.unique_id}}" name="unique_id">
                <input type="submit" value="Unassign" name="unassignRider"
                  style="background-color: #61b124; padding: 5px; color: white; border: 1px solid #61b124; border-radius: 0.25rem;">
              </form>
            </span></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="container container-fluid" style="margin-bottom: 20px; margin-top: 20px; padding-bottom: 60px;">
    <h2>Delivered Requests</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Pickup</th>
          <th scope="col">Dropoff</th>
          <th scope="col">PickupNumber</th>
          <th scope="col">Dropoff Number</th>
          <th scope="col">Delivered</th>
        </tr>
      </thead>
      <tbody>
        {% for delivered in DeliveryRequestsDelivered %}
  
  
        <tr>
          <th scope="row">1</th>
          <td>{{delivered.pickupPoint}}</td>
          <td>{{delivered.deliveryPoint}}</td>
          <td>+233{{delivered.pickupNumber}}</td>
          <td>+233{{delivered.dropoffNumber}}</td>
          <td><span class="material-icons" style="color: #61b124;">
              check
            </span></td>
        </tr>
  
        {% endfor %}
      </tbody>
    </table>
  </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>




